/* Utility Classes */
.l-heading {
  font-size: 3rem;
}
.m-heading {
  font-size: 1.5rem;
}

.text-size {
  font-size: 1rem;
}

/* Header */
#header {
  display: block;
}

#header #logo {
  justify-content: center;
}

/* Links container */
#nav-link-container {
  flex-direction: row;
}

/* Embeded video size */
#hiw #video {
  width: 440px;
  height: 260px;
}

/* Testimonial container */
#testimonials #testimonial-container {
  display: block;
}

/* Testimonial container */
#testimonials #testimonial-container {
  display: block;
}

/* Device width <=512 */
@media (max-width: 512px) {
  /* Utility classes */
  .l-heading {
    font-size: 2.5rem;
  }
  .m-heading {
    font-size: 1.2rem;
  }

  .text-size {
    font-size: 1rem;
  }
  /* Link container */
  #nav-link-container {
    flex-direction: column;
    align-items: center;
  }

  #main-content #main-info {
    width: auto;
    height: auto;
  }
  /* On Adding top value for main content - all the other content below content were not aligned properly. */
  /* So I added top value for all other section as well */
  /* Main content  */
  #main-content #main-info {
    top: 160px;
  }

  /* How it works */
  #hiw {
    top: 12rem;
  }

  /* Embeded video size */
  #hiw #video {
    width: 240px;
    height: 160px;
  }

  /* Testimonials */
  #testimonials {
    position: relative;
    top: 10rem;
  }

  #get_started {
    position: relative;
    top: 10rem;
  }
}
/* Device width <=280 */
@media (max-width: 280px) {
  /* Embeded video size */
  #hiw #video {
    width: 140px;
    height: 60px;
  }
}
